doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css' integrity='sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==' crossorigin='anonymous' referrerpolicy='no-referrer')
  link(rel='stylesheet' href='/css/menu.css')
  link(rel='stylesheet' href='/css/footer.css')
  link(rel='stylesheet' href='/css/estiloNoticia.css')
  title Emisora De Radio | Mascotas Radio Tv
header
  // logo
  .top
    .top2
      img.ImagenLogo(src='https://static.wixstatic.com/media/4ef24d_f563fdbe68864ec39fc84b525db9d7bd~mv2.png/v1/fill/w_201,h_215,al_c,q_85,usm_0.66_1.00_0.01/4ef24d_f563fdbe68864ec39fc84b525db9d7bd~mv2.webp' alt='')
    input#menu-bar(type='checkbox')
    label#IconoMenu.fa-solid.fa-bars(for='menu-bar')
    i#IconoMenu2.fa-solid.fa-cat
    nav.menu
      a(href='') publicitarios 
      a(href='') qui&eacute;nes somos
      a(href='') Veterinarias y comercios
      a(href='') programaci&oacute;n
      a(href='') Noticias
      a(href='') Consejos
      a(href='') Videos
      a(href='') Concursos
      a(href='') Publicaciones
      a(href='') Contacto
      a(href='') Saludos de famosos
      a(href='') Equipos de ventas
main
  .seccionNoticia
    #ContenidoNoticia
      h1 #{titulo}
      #imgTextoLado
        img#imagenNoticia(src=`${linkImagen}`)
        p #{textoLadoImagen}
      each i in texto
          if i.substr(0,1)=='*' 
              span#negrisima #{i.substr(1,i.lenght)}
          else
              span #{i}
          
          
    #linksCompartir
      a(href='')
        i.fab.fa-facebook
      a(href='')
        i.fab.fa-twitter
      a(href='')
        i.fab.fa-linkedin
      a(href='')
        i.fas.fa-link
      a#linkDerecha(href='')
        | noticias 
        i.fas.fa-newspaper
.waveV2(style='height: 100px; overflow: hidden;')
  svg(viewbox='0 0 500 150' preserveaspectratio='none' style='height: 100%; width: 100%;')
    path(d='M0.00,49.98 C149.99,150.00 349.20,-49.98 675.79,127.78 L500.00,150.00 L0.00,150.00 Z' style='stroke: none; fill: hsl(0, 0%, 0%);')
footer
  h5 S&Iacute;GUENOS EN :
  div
    // div redessociales
    i.fab.fa-facebook
    i.fab.fa-instagram
    i.fab.fa-youtube
  a(href='') mascotasradiotv@gmail.com
  a(href='')
    img(src='https://static.wixstatic.com/media/4ef24d_232d9a11cbea49658eb4dcc3e88f52ce~mv2.png/v1/fill/w_95,h_30,al_c,q_85/4ef24d_232d9a11cbea49658eb4dcc3e88f52ce~mv2.webp' alt='')
  a(href='')
    img(src='https://static.wixstatic.com/media/4ef24d_c4bf7ff8b9844df4b913ac3fdd4ff90a~mv2.png/v1/fill/w_95,h_30,al_c,q_85/4ef24d_c4bf7ff8b9844df4b913ac3fdd4ff90a~mv2.webp' alt='')
script(src='javascript/main.js')
script.
  CambiarCheckbox();
  clickMain();