doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css' integrity='sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==' crossorigin='anonymous' referrerpolicy='no-referrer')
  link(rel='stylesheet' href='../css/menu.css')
  link(rel='stylesheet' href='../css/footer.css')
  link(rel='stylesheet' href='../css/vetYComer.css')
  link(rel='stylesheet' href='../css/carrusel2.css')
  title Emisora De Radio | Mascotas Radio Tv
header
  // logo
  .top
    .top2
      img.ImagenLogo(src='https://static.wixstatic.com/media/4ef24d_f563fdbe68864ec39fc84b525db9d7bd~mv2.png/v1/fill/w_201,h_215,al_c,q_85,usm_0.66_1.00_0.01/4ef24d_f563fdbe68864ec39fc84b525db9d7bd~mv2.webp' alt='')
    input#menu-bar(type='checkbox')
    label#IconoMenu.fa-solid.fa-bars(for='menu-bar')
    i#IconoMenu2.fa-solid.fa-cat
    nav.menu
      a(href='') publicitarios 
      a(href='') qui&eacute;nes somos
      a(href='') Veterinarias y comercios
      a(href='') programaci&oacute;n
      a(href='') Noticias
      a(href='') Consejos
      a(href='') Videos
      a(href='') Concursos
      a(href='') Publicaciones
      a(href='') Contacto
      a(href='') Saludos de famosos
      a(href='') Equipos de ventas
main
  #TituloVetYCom
    h2 Veterinarias y comercios
    h4 DISPONIBLES EN CUARENTENA
    each buscador in vetYCom
      each buscador2 in buscador.1
        div.vetCom1
          img(src=`${buscador2.linkIcono}` alt='')
          button.btnVetCom Ver Servicios
          #Fondo
            button#botonX
              i.fas.fa-times-circle
          #carta
            img(src=`${buscador2.linkIcono}` alt='')
            each buscador2.texto
              if i.substr(0,1)=='*' 
                span#negrisima #{i.substr(1,i.lenght)}
              else if i.substr (0,1)=='%'
                span#subrayado #{i.substr(1,i.lenght)}
              else 
                span #{i}
              p
              | asdajkfjkdsjfkdsfkjskfjkfd 2343242234324234324324  dfsfdssdfdfojofdsg jds jofdsjgogojfd jfdso jgofd ojfd g oog jodsjgdfdsf dsf odsjf jdsof jodsf ksfkjdsfkfdkjdskfjkfdkdsjfk albion online es un mmorpg que consiste en tener un nombre muy largo para que se yo
            p lunes a sabado 10:00-15:00 y 16:00-18:00
            p (colaci&oacute;n de 15:00-16:00)
            span#spanSubrayado subrayado
            h4.numero
              i.fas.fa-phone-square(style='color:rgb(20, 207, 20)')
              | 22 11 44 123
            #ImagenesRedSocial
              a(href='')
                img(src='https://static.wixstatic.com/media/4ef24d_6138ae673c0b46b3b69ec4e15215468c~mv2.png/v1/fill/w_144,h_47,al_c,q_85,usm_0.66_1.00_0.01/4ef24d_6138ae673c0b46b3b69ec4e15215468c~mv2.webp' alt='')
              a(href='')
                img(src='https://static.wixstatic.com/media/4ef24d_7f8fd7c2c2364d74bf6628081bcaa27c~mv2.png/v1/fill/w_240,h_39,al_c,q_85,usm_0.66_1.00_0.01/4ef24d_7f8fd7c2c2364d74bf6628081bcaa27c~mv2.webp' alt='')
  .vetCom1
    img(src='https://static.wixstatic.com/media/4ef24d_876be97f922e45d9bd2efa58ad4a5d35~mv2.png/v1/fill/w_360,h_80,al_c,q_85,usm_0.66_1.00_0.01/Logomax.webp' alt='')
    button.btnVetCom Ver Servicios
  article.ArtPublicateVideos2
    div
      h3 PUBLICATE CON NOSOTROS
      p
        | P&uacute;blica el logo de tu empresa en nuestro sitio web para dar a conocer t&uacute; emprendimiento y as&iacute; llegar m&aacute;s r&aacute;pido a los usuarios. No esperes m&aacute;s!!
    .promocion
      .slider2
        ul
          li
            img.imagenesRedondas(src='https://static.wixstatic.com/media/4ef24d_1711324f1db34f9bbb6a4728902bb80e~mv2.png/v1/fit/w_522,h_374,q_90/4ef24d_1711324f1db34f9bbb6a4728902bb80e~mv2.png' alt='')
          li
            img(src='https://static.wixstatic.com/media/4ef24d_361f91208bb4454db2b95b218e6b6395~mv2.png/v1/fit/w_374,h_374,q_90/4ef24d_361f91208bb4454db2b95b218e6b6395~mv2.png' alt='')
          li
            img(src='https://static.wixstatic.com/media/4ef24d_0b641a1f63b643ea8725a05384be3ce7~mv2.jpeg/v1/fit/w_380,h_374,q_90/4ef24d_0b641a1f63b643ea8725a05384be3ce7~mv2.jpeg' alt='')
          li
            img(src='https://static.wixstatic.com/media/4ef24d_d15ce12d70fd407490b0c6138fe66b27~mv2.jpeg/v1/fit/w_187,h_187,q_90/4ef24d_d15ce12d70fd407490b0c6138fe66b27~mv2.jpeg' alt='')
          li
            img(src='https://static.wixstatic.com/media/4ef24d_f15beb839e324aa194c4ff3543e17e2a~mv2.jpeg/v1/fit/w_213,h_187,q_90/4ef24d_f15beb839e324aa194c4ff3543e17e2a~mv2.webp' alt='')
          li
            img(src='https://static.wixstatic.com/media/4ef24d_38c1973c765a47e8ae307c508f19a6ce~mv2.jpeg/v1/fit/w_374,h_374,q_90/4ef24d_38c1973c765a47e8ae307c508f19a6ce~mv2.webp' alt='')
.wave(style='height: 70px; overflow: hidden;')
  svg(viewbox='0 0 500 150' preserveaspectratio='none' style='height: 100%; width: 100%;')
    path(d='M0.00,49.98 C149.99,150.00 349.20,-49.98 675.79,127.78 L500.00,150.00 L0.00,150.00 Z' style='stroke: none; fill: hsl(0, 0%, 0%);')
footer
  h5 S&Iacute;GUENOS EN :
  div
    // div redessociales
    i.fab.fa-facebook
    i.fab.fa-instagram
    i.fab.fa-youtube
  a(href='') mascotasradiotv@gmail.com
  a(href='')
    img(src='https://static.wixstatic.com/media/4ef24d_232d9a11cbea49658eb4dcc3e88f52ce~mv2.png/v1/fill/w_95,h_30,al_c,q_85/4ef24d_232d9a11cbea49658eb4dcc3e88f52ce~mv2.webp' alt='')
  a(href='')
    img(src='https://static.wixstatic.com/media/4ef24d_c4bf7ff8b9844df4b913ac3fdd4ff90a~mv2.png/v1/fill/w_95,h_30,al_c,q_85/4ef24d_c4bf7ff8b9844df4b913ac3fdd4ff90a~mv2.webp' alt='')

script(src='../javascript/main.js')
script.
    
    CambiarCheckbox();
    clickMain();
    MostrarVetYCom();
    CerrarVetYCom();